:root {
    --background-color: #f0f2f6;
    --text-color: #333;
    --button-bg-color: #4CAF50;
    --button-hover-bg-color: #45a049;
    --metric-bg-color: #ffffff;
    --sidebar-bg-color: #ffffff;
    --title-color: #4CAF50;
    --header-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #ebd2d2;
        --text-color: #f0f2f6;
        --button-bg-color: #3e8e41;
        --button-hover-bg-color: #367c39;
        --metric-bg-color: #e2cfcf;
        --sidebar-bg-color: #e0d5d5;
        --title-color: #4CAF50;
        --header-color: #000000;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

.stButton>button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.stButton>button:hover {
    background-color: var(--button-hover-bg-color);
}

.stMetric {
    background-color: var(--metric-bg-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.stSidebar {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.stTitle {
    color: var(--title-color);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.stHeader {
    color: var(--header-color);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.stMarkdown {
    margin-bottom: 20px;
}